div {
  background-color:grey;
  width: 250px;
  height:450px;
  border: 10px  double black;
  border-radius:40px;
  padding: 50px;
  margin: 20px auto 0;
  opacity: 90%;
}
input{
	display:block;
	border:2px solid;
	width:90%;
	padding:10px;
	margin:10px auto 0;
	border-radius:10px;
}
lable{
	font-size:18px;
	font-style:bold;
	padding:10px;
}
button{
	width:25%;
	height:8%;
	background-color:black;
	color:white;
	border-radius:5px;
}
button:hover{
	opacity:0.5;

}